Java.net/schema/MainCode.CommandOutputMessage.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="commandOutputMessage" type="commandOutputMessage"/>

  <xs:complexType name="commandOutputMessage">
    <xs:complexContent>
      <xs:extension base="commandMessage">
        <xs:sequence>
          <xs:element name="output" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="commandMessage" abstract="true">
    <xs:complexContent>
      <xs:extension base="commandMessageXml">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="commandMessageXml" abstract="true">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

